/* Imaginea statică full screen */
.hero-section {
    position: relative;
    margin-top: 116px;
    width: 100%;
    height: 100vh;
    background: url("../assets/firstpage_logomare.png") no-repeat center center;
    background-size:cover;
}

/* Despre firmă */
.firma-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
    background-color: #f8f9fa;
    color: #1a1a1a;
    gap: 3rem;
    flex-wrap: wrap;
}

.firma-text {
    flex: 1;
    min-width: 300px;
    max-width: 1000px;
    text-align: left;
}

.firma-text h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #0d1b2a;
}

.firma-text p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.firma-imagine {
    flex: 1;
    max-width: 1000px;
    min-width: 300px;
    text-align: center;
}

.firma-imagine img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* 🔹 Video container */
.firma-video-container {
    width: 100%;
    max-width: 1000px;
}

.firma-video {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

@media (max-width: 768px) {
    .bottom-navbar {
        justify-content: center; /* centrează toate butoanele */
        gap: 3rem; /* spațiu egal între butoane */
    }

    .acasa-container {
        height: 91vh;
    }
}

@media (max-width: 850px) {
    .hero-section {
        background: url("../assets/firstpage_telefon.png") no-repeat center center;
        background-size: cover; /* sau contain dacă vrei să se vadă întreagă */
    }
}

@media (min-width:850px) and (max-width: 1100px) {
    .hero-section {
        background: url("../assets/firstpage_telefonc.png") no-repeat center center;
        background-size: cover; /* sau contain dacă vrei să se vadă întreagă */
    }
}

@media (min-width:1100px) and (max-width: 1300px) {
    .hero-section {
        background: url("../assets/firstpage_logomediu.png") no-repeat center center;
        background-size: cover; /* sau contain dacă vrei să se vadă întreagă */
    }
}

